<fieldset>
  <div class="row">
    <div class="row">
      <div class="small-12 medium-12 columns">
        <%= f.text_field :display_text %>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns left">
      <%= f.hidden_field :_destroy %>
      <%= link_to "remove", '#', class: "remove_fields" %>
    </div>
  </div>
</fieldset>
