<% if organizations.count > 0 %>
  <tr>
    <td class="bio-category"><span class="caps"><%= title %>: </span></td>
    <td class="bio-details"><span><%= render organizations %></span></td>
  </tr>
<% end %>
