<dd class="accordion-navigation">
  <a href="#upload_instructions">Submit</a>
  <div id="upload_instructions" class="content">
    <div class="row">
      <div class="small-12 medium-11 medium-offset-1 columns">
        <h3>Submit to Y2Q</h3>
        <p>After you upload your video to YouTube, you can submit it to Y2Q.  You will need the url to your video.  You can get it from the top of your browser bar while you are watching your video on YouTube:</p>
          <img src="<%= image_path("youtube_url_screenshot.png") %>"></img>

          <%= link_to "Upload Now", new_video_path, class: "button green-button tiny" %>
        </ul>
      </div>

    </div>
  </div>
</dd>
