<dd class="accordion-navigation">
  <a href="#record">Record</a>
  <div id="record" class="content">
    <div class="row">
      <div class="small-12 medium-10 medium-offset-2 columns">
        <h3>Choose what type of video you'd like to make:</h3>
        <ol>
          <li>You talking w/Your Webcam - Let’s face it. We are busy people. Ain’t nobody got time to learn how to mic, shoot, edit and deliver a super sexy video. However, what almost all of us have is webcam. This is what we expect to be the core type of videos. Simple, in front of your computer talking, type videos.</li>
          <li>Add a little pizzaz. - Everyone has windows movie maker or iMovie and these programs can do a lot more than you think. You could still record your video with your webcam or even your phone, and then trim these down in one of those programs. Then you could add some pics and maybe other videos that relate to your 2 questions. If you wanna get real fancy, toss some music in.</li>
          <li>Professional - Now some of you may have your own equipment and want to really deliver something slick. Bring it on! Just keep it to that 90 seconds, not matter how beautiful it is! Add some b-roll of you using your gifts to fight what breaks your heart. Tell us about your startup, non-profit or volunteer opportunity.</li>
        </ol>
      </div>
    </div>
  </div>
</dd>
