<dd class="accordion-navigation">
  <a href="#film">Film</a>
  <div id="film" class="content">
    <div class="row">
      <div class="small-12 medium-11 medium-offset-1 columns">
        <h4>Go to <%= link_to "YouTube", "http://www.youtube.com" %> and upload a short (90 sec) video</h4>
        <p>Don't fret over the quality.  Not everyone knows how to mic, shoot, edit, and deliver a super sexy video.  Just sit in front of your webcam and tell us how you answer the questions.  If you do have the skills, bring it on.  Let's see your best (90 second) video.</p>

        <h5>Tips</h5>
        <ul>
          <li>Use the same GoogleId that you use to sign into Y2Q</li>
          <li>Having trouble? Visit YouTube's <%= link_to "help page", "https://support.google.com/youtube/" %>.</li>
        </ul>

      </div>
    </div>
  </div>
</dd>
