<div class="row">
  <div class="small-12 medium-10 medium-offset-2 columns">
    <h2>How to Y2Q</h2>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-10 medium-offset-2 columns">
    <h3>In 90 seconds, we want to hear the answer to 3 questions:</h3>
    <ol>
      <li>What breaks your heart?</li>
      <li>What makes you come alive?</li>
      <li>How are you (or will you) put these two together?</li>
    </ol>
  </div>
</div>


<div class="row">
  <div class="small-12 medium-10 medium-offset-2 columns">
    <dl class="accordion" data-accordion>
      <%= render "how_to_y2q_accordian_nav" %>
      <dd class="accordion-navigation">
        <a href="#panel2">Accordion 2</a>
        <div id="panel2" class="content">
          Panel 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </dd>
      <%= render "upload_video_form" %>
    </dl>
  </div>
</div>
