<div class="row">
  <div class="small-12 medium-10 medium-offset-2 columns">
    <h2>How to Y2Q</h2>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-10 medium-offset-2 columns">
    <h3>In 90 seconds, we want to hear the answer to 3 questions:</h3>
    <ol>
      <li>What breaks your heart?</li>
      <li>What makes you come alive?</li>
      <li>How are you (or will you) put these two together?</li>
    </ol>
  </div>
</div>

<style>
  .blurb-number-1::before {
    content: "1";
    font-weight:bold;
  }
  .blurb-number-2::before {
    content: "2";
    font-weight:bold;
  }
  .blurb-number-3::before {
    content: "3";
    font-weight:bold;
  }
</style>

<div class="row">
  <div class="small-12 medium-10 medium-offset-2 columns">
    <dl class="accordion" data-accordion>
      <dd class="accordion-navigation">
        <a href="#how-to-y2q">How to Y2Q</a>
        <div id="how-to-y2q" class="content active">
          <div class="row">
            <%= render layout: "shared/components/blurb", locals: { blurb_title: "Reflect", icon_class: "fa fa-2x blurb-number-1" } do %>
              <p>Think about what breaks your heart and what makes you come alive.</p>
            <% end %>
            <%= render layout: "shared/components/blurb", locals: { blurb_title: "Record", icon_class: "fa fa-2x blurb-number-2" } do %>
              <p>Upload a video to YouTube telling us how you are (or will) put these two together.</p>
            <% end %>
            <%= render layout: "shared/components/blurb", locals: { blurb_title: "Submit", icon_class: "fa fa-2x blurb-number-3" } do %>
              <p>Submit your video to Y2Q using the form below.</p>
            <% end %>
          </div>
        </div>
      </dd>
      <dd class="accordion-navigation">
        <a href="#panel2">Accordion 2</a>
        <div id="panel2" class="content">
          Panel 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </dd>
      <dd class="accordion-navigation">
        <a href="#panel3">Accordion 3</a>
        <div id="panel3" class="content">
          Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </dd>
    </dl>
  </div>
</div>
