<div class="row">
  <div class="small-12 medium-10 medium-offset-2 columns">
    <h2>How to Y2Q</h2>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-10 medium-offset-2 columns">
    <h3>In 90 seconds, we want to hear the answer to 3 questions:</h3>
    <ol>
      <li>What breaks your heart?</li>
      <li>What makes you come alive?</li>
      <li>How are you (or will you) put these two together?</li>
    </ol>
  </div>
</div>
