<div class="row message">
	<div class="small-9 columns">
		<p class="thin-font">What breaks your heart? What makes you come alive? When you discover your answers, upload a video about it! your video will inspire others to do the same, and your impact will be multiplied.</p>
		<p class="bold thin-font">See how others answered their 2 Questions in the videos below.</p>
	</div>
	<div class="small-3 columns">
    <a href='<%= new_video_path %>' class="button results-button green-button white"><span class="thick-font black button-text">Ready to share your story...<br>and inspire someone else's</span><br><span class="caps submit-text">submit a video</span></a>
	</div>
</div>
	
<div class="row">
	<div class="small-3 columns">
		<span class="med-gray large-number">1</span><span class="caps main-green">what breaks<br>your heart?</span>
		<ul class="what-lists">  
			<li><input id="checkbox1" type="checkbox"><label for="checkbox1">Education</label></li> 
			<li><input id="checkbox2" type="checkbox"><label for="checkbox2">Human Rights</label></li> 
			<li><input id="checkbox3" type="checkbox"><label for="checkbox3">Nutrition &amp; Water Crisis</label></li> 
			<li><input id="checkbox4" type="checkbox"><label for="checkbox4">Physical/Mental Health</label></li> 
			<li><input id="checkbox5" type="checkbox"><label for="checkbox5">Poverty</label></li> 
			<li><input id="checkbox6" type="checkbox"><label for="checkbox6">Violence/Abuse</label></li> 
			<li><input id="checkbox7" type="checkbox"><label for="checkbox7">War/Genocide</label></li> 
		</ul>
		<span class="med-gray large-number">2</span><span class="caps main-green">what makes<br>you come alive?</span>
			<ul class="what-lists">  
			<li><input id="checkbox11" type="checkbox"><label for="checkbox11">Activism</label></li> 
			<li><input id="checkbox12" type="checkbox"><label for="checkbox12">Arts &nbsp; Culture</label></li> 
			<li><input id="checkbox13" type="checkbox"><label for="checkbox13">Business</label></li> 
			<li><input id="checkbox14" type="checkbox"><label for="checkbox14">Education</label></li> 
			<li><input id="checkbox15" type="checkbox"><label for="checkbox15">Humanitarian</label></li> 
			<li><input id="checkbox16" type="checkbox"><label for="checkbox16">Politics</label></li> 
			<li><input id="checkbox17" type="checkbox"><label for="checkbox17">Science</label></li> 
		</ul>
	</div>
	<div class="small-8 columns">
		<span class="med-gray caps">videos</span>
		<div class="isotope js-isotope" data-isotope-options='{ "itemSelector": ".item", "masonry": { "columnWidth": ".grid-sizer" } }'>
		  <div class="grid-sizer"></div>
		  <iframe class="item width2 height2" src="//player.vimeo.com/video/70411024"  webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		  <iframe class="item" src="//player.vimeo.com/video/70411024"  webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		  <iframe class="item" src="//player.vimeo.com/video/70411024"  webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		  <iframe class="item height2 width2" src="//player.vimeo.com/video/70411024"  webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		  <iframe class="item" src="//player.vimeo.com/video/70411024"  webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		  <iframe class="item" src="//player.vimeo.com/video/70411024"  webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>		
	</div>
</div>
