<div class="container quote-image text-center">
  <div class="row">
    <div class="large-8 medium-11 small-12 columns small-centered">
      <span class="quote">
      Where your talent and the needs of the world cross, therein lies your vocation
      </span>
      </div>
      <span class="quote-signature">- Aristotle</span>
    </div>
</div>
