<div class="container quote-image text-center">
  <div class="row">
    <span class="quote">Don't ask what the world needs. Ask what makes you<br>
      come alive, and go do it. Because what the world needs<br>
      is people who have come alive.</span>
    <br>
    <span class="quote-signature">- howard thurman</span>
  </div>
</div>
