<div class="row">
  <% if !video_played %>
    <a href="javascript:void(0)" class="skip-video">Skip Video &gt;&gt;</a>
    <div class="flex-video widescreen vimeo">
      <iframe id="home_video" src="http://player.vimeo.com/video/70411024?api=1&amp;player_id=home_video&amp;title=0&amp;byline=0&amp;portrait=0&amp;color=8cc63e&amp;autoplay=1" width="480" height="270" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  <% end %>
</div>

<%= render "choices" %>
<%= render "give_categories" %>
<%= render "quotes" %>
