
/* FONTS */
.thickFont{
	font-family: 'Roboto Condensed', 'Arial Narrow', sans-serif;
}

.thinFont{
	font-family: 'Open Sans', Verdana, Arial, sans-serif;
}

.caps{
	text-transform:uppercase;
}

.bold{
	font-weight:bold;
}

.subtext{
	font-size:.75em;
}

/* COLORS */
.white{
	color:white;
}

.black{
	color:black;
}

.lightGray{		
	color:#888;
}

.medGray{
	color:#666;
}

.mainGray{
	color:#333;
}

.lightGreen{
	color:#dcecc4;
}

.mainGreen{
	color:#8cc63e;
}

/* MENU */
.logo{
	height:35px;
}

.top-bar-section ul li a{
	text-transform:uppercase;
}

/* MISC */
span.external{
	background-image:url(../images/externalsite-11x11.png);
	height:11px;
	width:11px;
}

.center{
	text-align:center;
}

.block{
	display:block;
}

.choicesHeader{
	padding-bottom:20px;
}

.giveHeader{
	margin-bottom:20px;
	margin-top:20px;
}

.blackButton{
	background-color:black;
}

.greenButton{
	background-color:#8cc63e;
}

.buttonText{
	font-size:.80em;
}

.submitText{
	margin-top:5px;
}

.largeNumber{
	font-size:2em;
	display:block;
	float:left;
}

div.choices .button{
	text-transform:uppercase;
	box-shadow:2px 2px 1px #888888;
	border:1px solid white;
}

div.choices{
  background-color:#8cc63e;
  margin-top:-16px;
}

.questionSelect{
	margin-bottom: 5px;
	margin-top: 10px;
}

.subLink{
	font-size:.75em;
}

.quoteImage{
	text-align:center;
	vertical-align:middle;
	padding-top:80px;
	background-image:url(../images/city.jpg);
	background-repeat:no-repeat;
	background-position:center center;
	height:250px;
  	background-color:#000;
}

.quote{
	font-size:1em;
	font-style:italic;
}

.quoteSignature{
	font-size:.75em;
	font-style:italic;
	display:block;
	margin-top:20px;
}

.question{
	margin-bottom:10px;
	font-size:1.30em;
}

.social img{
	display:inline;
}

/* RESULTS PAGE */
.message{
	background-color:#ccc;
	padding-top:30px;
	padding-left:30px;
	margin-bottom:20px;
}

.message p{
	font-size:.8em;
}
.resultsButton{
	box-shadow:2px 2px 1px #888888;
	border:1px solid white;
}

.headerShadow{
	text-shadow:1px 2px #000;
}


/* FOOTER */
div.footer{
	height:80px;
	background-color:black;
	margin-top:30px;
}

div.footer div.columns{
	font-size:.50em;
	text-align:left;
	margin-top:30px;
}
