<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New developer, <%= @developer.name %>!</h1>
    <p>
      Email: <%= @developer.email %>
    </p>
    <p>
      Comments: <%= @developer.comments %>
    </p>
  </body>
</html>

