<div class="row">
<div class="medium-2 columns">
  &nbsp;
</div>
<div class="medium-8 columns text-center about-container">
<p>
  The idea for Y2Q evolved in the process of making the feature length documentary 
  <a href="http://www.whatmattersfilm.com/" class="external-link">What Matters</a>
  <a href="http://www.whatmattersfilm.com/" class="external-link"><%= image_tag "externalsite-11x11.png", class: "external" %></a>. 
We realized quickly that though extreme poverty was something that broke our heart, it wasn't necessarily the thing that broke everyone else's heart. For them, maybe it was domestic poverty, animals, the environment, government corruption... the list goes on.  It was the same with what made us come alive. One of us might be an artist, the other a teacher or an architect. 
</p>
<h3>
Each of us had different gifts to contribute to bettering this world. 
</h3>
<p>
We quickly realized maybe we are all made to have our hearts broken by different things and to all have different gifts that made us come alive. That way, instead of everyone working on one issue, we could each be tackling different issues in different ways. In an ideal world, every issue would get tackled by people who were passionate about it. Thus, making a difference would be more than a one time $20 donation or a mission trip for one week in a foreign country, but truly a sustainable way of life.
</p>
<iframe src="http://player.vimeo.com/video/59006116?byline=0&amp;portrait=0&amp;color=8cc63e" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" frameborder="0" height="270" width="480"></iframe>
<p>
Our hope is that these two simple questions: What Breaks Your Heart? &amp; What Makes You Come Alive? will provide a simple structure you can use to help find your purpose in this world. The 90 second videos are a great tool to help you focus in on your purpose and bless the rest of your world through sharing your heart and gifts. 
</p>
<h3>
Our dream is to have a massive collage of videos with each little video representing one person out there making a difference.
</h3>
</div>
<div class="medium-2 columns">
  &nbsp;
</div>
</div>
