<div class="row">
<div class="medium-12 text-center">
<%= image_tag "about-text.png" %>
<iframe src="http://player.vimeo.com/video/59006116?byline=0&amp;portrait=0&amp;color=8cc63e" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" frameborder="0" height="270" width="480"></iframe>
</div>
</div>
