/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require foundation_and_overrides
 *= require_self

 *= require_tree .
 */


@import "fonts";
@import "colors";

/* temporary alert stuff */
p.notice {
  background-color: lightgreen;
}

p.alert {
  background-color: red;
}

/* MISC */
.external{
	height:11px;
	width:11px;
	margin-left:3px;
}

.green-button{
	background-color:#8cc63e;
	color: $white;
}

/* FOOTER */
div.footer{
	height:80px;
	background-color:black;
	margin-top:30px;
	color: $white;
}

div.footer div.columns,
div.footer div.columns a{
	font-size:.875em;
	font-family: $thin-font;
	text-align:left;
	margin-top:30px;
}

/* ---- isotope ---- */

.isotope {
  background: white;
  max-width: 1200px;
  padding-left:30px;
  margin-top: 25px
}

/* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .item ---- */

.item {
  float: left;
  width: 200px;
  height: 113px;
  margin-bottom: 30px;
  background: #DDD;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.7);
}

.item .video-ss{
	cursor: pointer;
	width:100%;
	height: 100%;
}
/* 2 cols + 1 gutter = 200 + 20 + 200 */
.item.width2 { width: 401px; }
.item.height2 { height: 226px; }


