/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require foundation_and_overrides
 *= require_self
 *= require about
 *= require home
 *= require login
 *= require menu
 *= require profiles
 *= require sandbox
 *= require scaffolds
 *= require videos
 *= require selectize
 *= require selectize.default
 *= require components/blurb
*/


@import "fonts";
@import "colors";
@import "font-awesome";

/* STICKY FOOTER */
html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom: 80px;
}

#footer {
  position: relative;
  margin-top: -110px;
  height: 80px;
  clear:both;
}

body:before {
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;
}

/* temporary alert stuff */
p.notice {
  background-color: lightgreen;
}

p.alert {
  background-color: red;
}

/* BUTTONS */
.black-button{
  background-color: $med-gray;
  color: $white;
  text-transform: uppercase
}

.black-button:hover{
  background-color: $black;
}

.black-button:visited{
  color: $white;
}

.button {
  color: white;
  box-shadow: 2px 2px 1px #888888;
  border: 1px solid white;
  text-transform: uppercase;
}

.green-button{
  @extend button;
  background-color: $main-green;
}

.green-button:visited{
  color: $white;
}

.green-button:hover{
  background-color:$black;
}

.green-button:hover .button-text{
  color: $white;
}

.button-text{
  font-size:.80em;
  color:$main-gray;
  font-family:$thick-font;
}


/* MISC */
.fa{
  margin-left: 5px;
  margin-right: 5px;
}

.social-links, .social-links:visited{
  color: $med-gray;
}
.social-links:hover{
  color: $main-green;
}


.external{
	height:11px;
	width:11px;
	margin-left:3px;
}
.external-link:hover, .external-link:visited{
  background-color:transparent;
  color: $black;
}

.submit-text{
  margin-top: 5px;
  text-transform: uppercase;
  color: $white;
}

h2{
  text-transform: uppercase;
  font-family: $thick-font;
  color: $light-gray;
}

h3{
  font-family: $thick-font;
   color: $light-gray;
}

.form-label{
  font-family: $thick-font;
  font-size: 1.5em;
}

/* FOOTER */
div.footer{
	height:80px;
	background-color:black;
	margin-top:30px;
	color: $white;
}

div.footer div.columns,
div.footer div.columns a{
	font-size:.875em;
	font-family: $thin-font;
	text-align:left;
	margin-top:30px;
}

.copyright, .copyright a, .copyright a:visited{
  color: $med-gray;
}

.copyright a:hover{
  color: $main-green;
}

/* ---- isotope ---- */

.isotope {
  background: white;
  max-width: 1200px;
  padding-left:30px;
  margin-top: 25px
}

/* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .item ---- */

.video-item {
  width: 253px;
  height: 142px;
  background: #DDD;
  margin-bottom: 30px;
}

.video-item .thumbnail-wrapper {
  overflow: hidden;
}

.video-item .video-ss{
	cursor: pointer;
	width:100%;
  margin: -24px 0;

}
.video-item.width2 { width: 526px; }
.video-item.height2 { height: 314px; }
.width2 img.video-ss {
  margin-top: -53px;
  width: 560px;
  margin-left: -17px;
  max-width: none;
}
.width2 div.thumbnail-wrapper {
  height: 314px;
}
