@import "fonts"
@import "colors"


/* HOME PAGE */
.choices-header
  padding-bottom: 20px
  padding-top: 75px
  font-family: $thick-font
  color: $white


.give-header
  margin-bottom: 20px
  margin-top: 20px


.button-text
  font-size: .80em


.submit-text
  margin-top: 5px


.large-number
  font-size: 2em
  display: block
  float: left


div.choices .button
  text-transform: uppercase
  box-shadow: 2px 2px 1px $light-gray
  border: 1px solid $white


div.choices
  background-color: $main-green
  margin-top: -16px


.question-select
  margin-bottom: 5px
  margin-top: 10px


.subLink
  font-size: 1.125em


.quote-image
  text-align: center
  vertical-align: middle
  padding-top: 80px
  background-image: image-url("city.jpg")
  background-repeat: no-repeat
  background-position: center center
  background-size: 100%
  height: 250px
  background-color: #000


.quote
  font-size: 1.75em
  font-style: italic


.quote-signature
  font-size: 1.75em
  font-style: italic
  display: block
  margin-top: 20px


.question
  margin-bottom: 10px
  font-size: 1.80em
  font-weight: bold


.social img
  display: inline


.margin-top-30
  margin-top: 30px

.margin-bottom-70
  margin-bottom: 70px


.talent-description
  background-color: #eee
  padding-top: 30px
  min-height: 160px


.give-icons
  margin-bottom: -40px

