@import "fonts"
@import "colors"


/* HOME PAGE */
.choices-header
  padding-bottom: 12px
  padding-top: 25px
  font-family: $thick-font
  color: $white
  text-transform: uppercase

.header-shadow
  text-shadow: 1px 2px #000

.give-header
  margin-bottom: 0
  margin-top: 15px
  text-transform: uppercase
  font-family: $thick-font
  color:  $light-gray

div.flex-video.widescreen.vimeo
  margin-bottom: 0

div.choices
  background-color: $main-green

  .button
    text-transform: uppercase
    box-shadow: 2px 2px 1px $light-gray
    border: 1px solid $white
    margin-top: 15px
    margin-bottom: 30px

.question-select
  margin-bottom: 5px
  margin-top: 10px


.subLink
  font-size: 1.125em
  font-family: $thin-font
  color: $white

.subLink:hover 
  color: $black

.quote-image
  vertical-align: middle
  padding-top: 50px
  padding-bottom: 50px
  background-image: image-url("city.jpg")
  background-repeat: no-repeat
  background-position: center center
  background-size: cover
  background-color: #000

.quote
  font-size: 1.75em
  font-style: italic
  font-family: $thin-font
  color: $white


.quote-signature
  font-size: 1.75em
  font-style: italic
  display: block
  margin-top: 20px
  font-family: $thick-font
  color: $white
  text-transform: uppercase


.question
  margin-bottom: 10px
  font-size: 1.7em
  font-weight: bold
  text-transform: uppercase
  font-family: $thick-font

.give-categories
  margin-bottom: 30px

.skip-video
  position: absolute
  top: 110px
  padding: 5px 40px 5px 40px
  z-index: 1000
  border: 2px solid white
  background-color: black
  color: white
  font-weight: bold
  font-size: 16px
  
