@import "fonts"
@import "colors"


/* HOME PAGE */
.login
  div.signup-form
    background-color: $main-green
  div.more-links
    background-color: $light-gray    
  form
    margin-top: 50px
    label
      font-family: $thick-font
      font-size: 1.5em
    label.small
      font-size: 1em
 
.link
  font-family: $thin-font
  font-size: 1em
