@import "fonts"
@import "colors"


/* MY2Q PAGE */
.minus-10
  margin-top: -10px

.minus-20
  margin-top: -20px
  
.bio-message 
  background-color: $med2-gray
  padding-top: 10px
  padding-left: 30px
  margin-bottom: 20px
  box-shadow: 2px 2px 1px #888888
  height: 200px  
  
.bio
  list-style: none
  margin-left: 0px
  margin-top: 15px
  margin-bottom: 25px
  background-color: $med2-gray
  height: 100%
  width: 100%


.bio-category
  font-size: 0.875em
  background-color: $med2-gray
  height: 100%
  width: 50%
  text-align: right
  font-family: $thick-font
  border-bottom: 1px solid $white
  text-transform: uppercase


.bio-details
  font-size: 0.875em
  background-color: $lighter-gray
  height: 100%
  width: 50%
  font-family: $thin-font


.bio-button
  width: 100%
  box-shadow: 2px 2px 1px #888888
  border: 1px solid $white
  color: $white


.button-text 
  font-size: .80em
  color: $black
  font-family: $thick-font
 

.profile-name
  text-transform: uppercase
  color: $black


.my-videos
  color: $med-gray
  font-family: $thick-font
  text-transform: uppercase
  font-size: 1.5em
  margin-bottom: 25px

  
.submit-text
  margin-top: 5px
  text-transform: uppercase
    
