@import "fonts"
@import "colors"


/* MY2Q PAGE */
.profile-bio
  margin-top: -10px
  font-family: $thin-font

.profile-location
  margin-top: -20px
  color: $med-gray

.bio-message
  background-color: $med2-gray
  padding-top: 10px
  margin-bottom: 20px
  box-shadow: 2px 2px 1px $light-gray
  min-height: 200px

.bio
  list-style: none
  margin-left: 0px
  margin-top: 15px
  margin-bottom: 25px
  background-color: $med2-gray
  height: 100%
  width: 100%


.bio-category
  background-color: $med2-gray
  height: 100%
  width: 50%
  text-align: right
  border-bottom: 1px solid $white
  span
    font-size: 0.875em
    font-family: $thick-font
    text-transform: uppercase
    font-weight: normal


.bio-details
  background-color: $lighter-gray
  height: 100%
  width: 50%
  span
    font-size: 0.875em
    font-family: $thick-font
    text-transform: uppercase
    font-weight: normal


.bio-button
  width: 100%

.profile-name
  text-transform: uppercase
  color: $black


.my-videos
  color: $med-gray
  font-family: $thick-font
  text-transform: uppercase
  font-size: 1.5em
  margin-bottom: 25px

.bio-form
  textarea
    min-height: 200px

form.edit_profile
  fieldset
    border: none
    margin: 0
    padding: 0
  a.remove_fields i
    padding: 0.7em 0.2em
