<div class="small-12 medium-4 columns text-center">
  <div class="blurb-description">
    <i class="blurb-icons <%= icon_class %>"></i>
    <span class="span-header"><%= blurb_title %></span><br>
    <span class="subtext">
      <%= yield %>
    </span>
  </div>
</div>
