<div class="row footer white">
	<div class="small-10 columns thin-font">
		&copy; 2014 <a href="http://speakupproductions.com" target="_blank">Speak up Productions</a>
	</div>
	<div class="small-2 columns">
		<div class="social">
			<a target="_blank" href="https://www.youtube.com/channel/UCYYlvjMWm1pA0_tbgcWc6yg"><img src="images/twitter.png"></a>
			<a target="_blank" href="http://www.twitter.com/Your2Questions"><img src="images/twitter.png"></a>
			<a target="_blank" href="https://www.facebook.com/Your2Questions"><img src="images/facebook.png"></a>
		</div>
	</div>
</div>
