<div class="container footer">
  <div class="row">
    <div class="small-7 medium-10 columns">
      &copy; 2014 <a href="http://speakupproductions.com" target="_blank">Speak up Productions</a>
    </div>
    <div class="small-5 medium-2 columns">
      <div class="social">
        <a target="_blank" href="https://www.youtube.com/channel/UCYYlvjMWm1pA0_tbgcWc6yg" class="social-links"><i class="fa fa-youtube fa-3x"></i></a>
        <a target="_blank" href="http://www.twitter.com/Your2Questions" class="social-links"><i class="fa fa-twitter fa-3x"></i></a>
        <a target="_blank" href="https://www.facebook.com/Your2Questions" class="social-links"><i class="fa fa-facebook fa-3x"></i></a>
      </div>
    </div>
  </div>
</div>
